*{
    margin: 0;
    padding: 0;
    border: 0;
}
.header-one{
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 0.5em ;
    padding: 0;
    border-top: 10px;
}
nav ul{
    text-decoration: none;
    display: flex;
    margin-left: 27em;
}
ul li{
    list-style-type: none;
    padding: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:lighter ;
   margin-left: 50px;
}
/*404 css*/
img{
    margin-left: 670px;
    margin-top: 200px;
    
}
h3{text-align: center;
font-size: 35px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 20px;
font-weight: 400;
}
p{margin-left: 570px;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.footer-404
{
    text-align: center;
    margin-left: 160px;
    font-weight: bold;
}
.border-404{
    box-sizing: border-box; 
    background-color: white;
}
.container-404{
    padding: 100px;
    background-color: gainsboro;
    margin-left: 25px;
    margin-right: 25px;
}
.margin-404{
    margin-left: 600px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*world page css below !*/

.world-h1{
    position: static;
    padding-top: 50px;
    border: 3px solid #73AD21;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav a {
    color: rgb(7, 4, 4);
    text-decoration: none;
    font-size:xx-small;
}
.world-img{
    display: block;
    margin-top: 48px;
    margin-left: 25%;
    margin-right: auto;
    width: 54%;
  }
.small-align{
    display: flex;
}
.footer-container{
        text-align: center;
        padding: 3px;
        background-color: #fff
        color: white;
}



