.header-one{
    text-align: center;
    margin-top:15px;
}
ul{
    text-decoration: none;
    display: flex;
    margin-left: 350px;
}
ul li{
    list-style-type: none;
    padding: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:bold ;
}

/*world page css below !*/

.world-h1{
    text-align: center;
}
.world-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



