*{
    margin: 0;
    padding: 0;
    border: 0;
}
.header-one{
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 0.5em ;
    padding: 0;
    border-top: 10px;
}
nav ul{
    text-decoration: none;
    display: flex;
    margin-left: 27em;
}
ul li{
    list-style-type: none;
    padding: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:bold ;
}

/*world page css below !*/

.world-h1{
    position: static;
    padding-top: 50px;
    border: 3px solid #73AD21;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav a {
    color: rgb(7, 4, 4);
    text-decoration: none;
    font-size:xx-small;
}
.world-img{
    display: block;
    margin-top: 48px;
    margin-left: 25%;
    margin-right: auto;
    width: 54%;
  }
.small-align{
    display: flex;
}
.footer-container{
        text-align: center;
        padding: 3px;
        background-color: #fff
        color: white;
}



