.header-one{
    text-align: center;
    margin-top:15px;
}
ul{
    text-decoration: none;
    display: flex;
    margin-left: 350px;
}
ul li{
    list-style-type: none;
    padding: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:lighter ;
   margin-left: 50px;
}
img{
    margin-left: 670px;
    margin-top: 200px;
    
}
h3{text-align: center;
font-size: 35px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 20px;
font-weight: 400;
}
p{margin-left: 570px;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.footer-404
{
    text-align: center;
    margin-left: 160px;
    font-weight: bold;
}
.border-404{
    box-sizing: border-box; 
    background-color: white;
}
.container-404{
    padding: 100px;
    background-color: gainsboro;
    margin-left: 25px;
    margin-right: 25px;
}



